form {
  background-color: rgba(223, 215, 249, 0.3);
  padding: 5% 10%;
  color: var(--text-color);
  text-align: center;
  margin: 5rem var(--outer-paddingX);
  border-radius: 20px 20px 20px 20px;
  position: relative;
}

form br {
  display: none;
}

.send__icon {
  position: absolute;
  right: -1rem;
  top: -1rem;
  font-size: 3rem;
  color: #fff;
  background: linear-gradient(201.65deg, #747def, #5e3be1);
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.top__spiral,
.bottom__spiral {
  display: none;
}

form p {
  font-weight: 500;
  font-size: clamp(0.8rem, 2vw, 2.06rem);
  padding-top: 1rem;
}

.form__group {
  margin-top: 2rem;
}

.form__input__wrapper {
  background-color: #fff;
  height: 50px;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  padding-left: 3%;
  border-radius: 5px;
  overflow: hidden;
}

.form__input__wrapper > svg {
  flex: 0.1;
}

.form__input__wrapper > input {
  flex: 1;
  height: 100%;
  border: none;
  padding: 10px;
  outline: none;
  font-size: var(--font-size);
}

.form__group > button {
  display: block;
  width: 100px;
  height: 40px;
  border: none;
  margin: 1rem auto;
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (min-width: 500px) {
  form {
    border-radius: 129px 20px 20px 20px;
  }

  form br {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .form__group {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
  }

  .form__input__wrapper {
    width: 50%;
    height: 68px;
  }

  .form__group > button {
    margin-inline: unset;
    height: 68px;
    width: 180px;
  }

  .top__spiral {
    position: absolute;
    display: block;
  }

  .top__spiral {
    top: 0;
    right: 0;
  }
}

@media only screen and (min-width: 900px) {
  .bottom__spiral {
    position: absolute;
    display: block;
  }

  .bottom__spiral {
    bottom: 0;
    left: -5rem;
    z-index: -1;
  }
}
