form {
  background-color: #dfd7f9;
  padding: 2rem;
  color: var(--text-color);
  text-align: center;
  margin: 5rem 1rem 0;
  border-radius: 5px;
  border-top-left-radius: 4rem;
  position: relative;
}

.send__icon {
  position: absolute;
  right: -0.5rem;
  top: -0.8rem;
  font-size: 1.5rem;
  color: #fff;
  background: linear-gradient(201.65deg, #747def, #5e3be1);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.top__spiral,
.bottom__spiral {
  position: absolute;
  display: none;
}

form p {
  font-weight: 500;
  font-size: small;
  padding-top: 1rem;
}

.form__group {
  margin-top: 2rem;
}

.form__input__wrapper {
  background-color: #fff;
  height: 50px;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  padding-left: 0.5rem;
  border-radius: 5px;
  overflow: hidden;
}

.form__input__wrapper > svg {
  flex: 0.1;
}

.form__input__wrapper > input {
  flex: 1;
  height: 100%;
  border: none;
  padding: 10px;
  outline: none;
}

.form__group > button {
  display: block;
  width: 100px;
  height: 40px;
  border: none;
  margin: 1rem auto;
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  color: #fff;
  border-radius: 5px;
}
