.book__trip__wrapper {
  padding-inline: var(--outer-paddingX);
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book__trip__wrapper > div {
  text-align: center;
}

.book__trip__wrapper br {
  display: none;
}

.backdrop {
  position: absolute;
  width: 130%;
  top: -3rem;
  right: -1rem;
}

/* Big card section (trip to greece) */

.trip_To_greece__bigcard {
  position: relative;
  padding: min(3%, 1rem);
  margin-bottom: 3rem;
  width: clamp(250px, 80vw, 350px);
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.08),
    3.5rem -4rem 6rem rgba(89, 177, 230, 0.3);
  border-radius: 26px;
  background-color: #fff;
}

.trip_To_greece__bigcard p {
  font-weight: 500;
  font-size: clamp(1rem, 1.3vw, 1.2rem);
  padding-block: 5%;
}

.trip_To_greece__bigcard > span {
  color: var(--text-color);
  font-size: var(--font-size);
  display: block;
  padding-bottom: 5px;
}

.trip_To_greece__bigcard > img {
  width: 100%;
}

.bigcard__svg__container {
  display: flex;
  padding: 10px 0 20px 0;
  gap: 18px;
}

.bigcard__svg__container div {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 100%;
}

.bigcard__footer {
  display: flex;
  align-items: baseline;
  gap: 10px;
  padding-block: 2vh;
}

.bigcard__footer > span {
  padding: 0;
  font-size: var(--font-size);
  color: var(--text-color);
}

/* small card section (ongoing) */

.trip_To_greece__smallcard {
  background-color: #ffff;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  max-width: 263px;
  border-radius: 15px;
  padding: min(3vh, 1.2rem) 1.5rem;
  gap: 10px;
  position: absolute;
  right: -2vh;
  top: 30vh;
}

.small__card__img_container > img {
  width: 50px;
  border-radius: 50%;
}

.small__card__details {
  flex: 1;
}

.small__card__details > p {
  font-weight: 500;
  font-size: clamp(1rem, 1.3vw, 1.2rem);
  padding-block: 0;
}

.small__card__details > span {
  display: block;
  color: var(--text-color);
}

.smallcard_progress__bar > p {
  font-size: clamp(14px, 1vw, 16px);
}

.smallcard_progress__bar span {
  color: #8a79df;
  padding-right: 5px;
}

.progress_container {
  width: 100%;
  height: 5px;
  background-color: #f5f5f5;
  border-radius: 30px;
}

.progress_bar {
  width: 40%;
  height: 100%;
  background-color: #8a79df;
  border-radius: 30px;
}

/* Booktrip card section */

.card__list > div {
  padding-bottom: 5vh;
}

.card__wrapper {
  display: flex;
  color: var(--text-color);
  gap: 1rem;
  margin-bottom: 5vh;
}

.card__wrapper > svg {
  width: 4.3rem;
}

.card__wrapper h5 {
  font-size: var(--font-size);
}

.card__wrapper p {
  font-size: var(--font-size);
}

/* media queries */

@media only screen and (min-width: 600px) {
  .trip_To_greece__smallcard {
    width: 263px;
    right: -8.4vw;
    top: 13rem;
  }

  .backdrop {
    top: -4rem;
    right: -3.5rem;
  }
}

@media only screen and (min-width: 1100px) {
  .book__trip__wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 15%;
    margin-bottom: 105px;
  }

  .trip_To_greece__bigcard {
    justify-self: baseline;
    margin-right: auto;
    margin-top: 5rem;
  }

  .book__trip__wrapper br {
    display: block;
  }
}
