.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  position: relative;
  font-size: 17px;
}

.logo__container,
.nav__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__container {
  width: 5.4rem;
  height: 100%;
}

.logo__container > img {
  width: 100%;
}

.nav__icon {
  font-size: 1.7rem;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff1da;
  color: var(--text-color);
  height: 100vh;
  width: 50%;
  padding: 20px;
  padding-top: 5rem;
  transition: 0.5s all ease-in-out;
  transform: translateX(-100vw);
}

.nav li {
  margin-bottom: 0.7rem;
  list-style: none;
}

.nav__links > a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 0.5rem;
}

.nav__links > a:hover {
  background-color: var(--yellow);
  border-radius: 5px;
  color: white;
}

.Btn__container button {
  background-color: transparent;
  display: block;
  border: 1px solid var(--text-color);
  padding: 7px 20px;
  border-radius: 5px;
  font-size: 17px;
  margin-left: 0.5rem;
}

.Btn__container button:hover {
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
  color: white;
}

.Btn__container select {
  margin-top: 1.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 0.5rem;
  font-size: 17px;
}

.toggle {
  transform: translateX(0);
}
