.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem;
  padding-inline: var(--outer-paddingX);
  position: relative;
  font-size: 17px;
}

.hero__pattern_wrapper {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 70%;
  right: 0;
}

.hero__pattern_wrapper > svg {
  width: 100%;
  height: 100%;
}

.logo__container,
.nav__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__container {
  width: 24%;
  max-width: 7rem;
  height: 100%;
}

.logo__container > svg {
  width: 100%;
}

.nav__icon {
  font-size: 1.7rem;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff1da;
  color: var(--text-color);
  height: 100vh;
  width: 50%;
  padding: 20px;
  padding-top: 5rem;
  transition: 0.5s all ease-in-out;
  transform: translateX(-100vw);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav > ul,
.nav > .Btn__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Btn__container button {
  background-color: transparent;
  display: block;
  border: 1px solid var(--text-color);
  padding: 7px 20px;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
}

.Btn__container button:hover {
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
  color: white;
}

.Btn__container select {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 17px;
  width: fit-content;
  cursor: pointer;
}

.Btn__container select:hover {
  color: var(--yellow);
}

.toggle {
  transform: translateX(0);
}

/* media queries */

@media only screen and (min-width: 900px) {
  .header__wrapper {
    padding-top: 3rem;
  }

  .nav {
    all: unset;
    display: flex;
    flex: 0.78;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
  }

  .nav > ul,
  .nav > .Btn__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav > ul {
    width: 55%;
  }

  .nav a {
    padding: 0;
  }

  .Btn__container {
    width: 35%;
    white-space: nowrap;
  }

  .nav__icon {
    display: none;
  }

  .hero__pattern_wrapper {
    width: 49%;
  }
}
