.destination__list__wrapper {
  padding-inline: var(--outer-paddingX);
  margin-bottom: 105px;
}

.destination__list__wrapper :first-child {
  text-align: center;
}

.destination__list__container {
  padding-top: 3rem;
}

.destination__card__wrapper {
  width: 315px;
  max-width: 100%;
  margin: auto;
  margin-bottom: 3rem;
  height: 457px;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0px 30px 46px 0px rgba(0, 0, 0, 0.05);
}

.destination__card__wrapper img {
  width: 100%;
  height: 350px;
  display: flex;
  object-fit: cover;
}

.destination__card__details {
  padding: 20px;
  padding-bottom: 0;
  color: var(--text-color);
  font-size: 14px;
}

.destination__card__details > section {
  display: flex;
  justify-content: space-between;
  padding-bottom: 19px;
}

.destination__card__details > div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}

.destination__card__details svg {
  font-size: 20px;
  color: black;
}

@media only screen and (min-width: 768px) {
  .destination__list__container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 7vh;
  }
}
