* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-font: 'Poppins', sans-serif;
  --heading-font: 'Volkhov', serif;
  --text-color: #212832;
  --yellow: #f1a501;
}

body {
  font-family: var(--text-font);
}

.app {
  width: 1440px;
  max-width: 100%;
  margin: auto;
}
