*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-font: 'Poppins', sans-serif;
  --heading-font: 'Volkhov', serif;
  --heading-color: #181e4b;
  --text-color: #5e6282;
  --yellow: #f1a501;
  --outer-paddingX: 5%;
  --font-size: clamp(0.812rem, 1.1vw, 1.5rem);
}

body {
  font-family: var(--text-font);
  scroll-behavior: smooth;
}

ul,
li {
  list-style: none;
}

input,
a,
select,
button {
  color: inherit;
  text-decoration: none;
}

.app {
  width: 1440px;
  max-width: 100%;
  margin: auto;
}

.title__wrapper > label {
  font-size: var(--font-size);
  font-weight: 500;
  color: var(--text-color);
  line-height: 3rem;
}

.title__wrapper > h2 {
  font-family: var(--heading-font);
  font-size: clamp(25px, 4vw, 3.2rem);
  font-weight: 700;
  color: var(--heading-color);
}

.nav__links > a {
  display: inline-block;
  padding: 0.5rem 0;
  font-size: var(--font-size);
  cursor: pointer;
}

.nav__links > a:hover,
.nav__links:focus {
  color: var(--yellow);
}

/* media queries */
@media only screen and (min-width: 1024px) {
  :root {
    --outer-paddingX: 10%;
  }
}
